<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IP" value ="cysoft.uicp.net"/>
    <add key="Port" value ="3347"/>
    <!--语音客户端标识 目前设定为1个语音客户端发声-->
    <add key ="ClientName" value="语音客户端"/>
    <!--语音发声语速(-10到10之间，0为默认)-->
    <add key ="VoiceRate" value="0"/>
    <!--语音类型 0普通话 1粤语-->
    <add key ="VoiceType" value="1"/>
    <!--语音区域，同综合显示屏一样，也是区域编号-->
    <add key ="AreaNo" value ="1"/>
  </appSettings>
</configuration>