<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--服务端IP-->
    <add key="IP" value="cysoft.uicp.net"/>
    <!--服务端端口-->
    <add key="Port" value="3347"/>
    <!--LED客户端标识-->
    <add key="ClientName" value="LED客户端"/>
    <!--LED屏幕设置-->
    <add key ="Position" value="92, 35, 178, 28"/>
    <add key ="FontName" value="宋体"/>
    <add key ="FontSize" value="18"/>
    <!--0-普通样式 1-粗体 2-斜体 4-下划线 8-删除线-->
    <add key ="FontStyle" value="0"/>
    <add key ="FontColor" value="0x0000FF"/>
  </appSettings>
  <connectionStrings>
    <!--数据库连接，修改时主要修改connectionString内的数据库名称，服务器地址，用户名，密码，其他信息无需修改-->
    <add name="MySQL" connectionString="Database='QueueDB';Data Source='cysoft.uicp.net';Port=3366;User Id='root';charset='utf8';pooling=true" />
  </connectionStrings>
</configuration>
