<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <!--为了兼容老版本基础数据维护的节点。值为空，但是节点必须有-->
    <add name="MySQL" connectionString="" />
    <!--服务端数据库地址。其中name不可修改-->
    <add name="Server" connectionString="Database='testserver';Data Source='cysoft.uicp.net';User Id='root';Password='admin88';charset='utf8';pooling=true" />
    <!--以下配置为本地数据库地址。其中name为地区编码-->
    <add name="15" connectionString="Database='testclient1';Data Source='cysoft.uicp.net';User Id='root';Password='admin88';charset='utf8';pooling=true" />
    <add name="21" connectionString="Database='testclient2';Data Source='cysoft.uicp.net';User Id='root';Password='admin88';charset='utf8';pooling=true" />
  </connectionStrings>
  <appSettings>
    <!--基础数据同步间隔，单位 秒 如果对实时性要求不高，请间隔调大一些以减轻数据库压力-->
    <add key ="BasicInterval" value ="25"/>
    <!--业务数据同步间隔，单位 秒 如果对实时性要求不高，请间隔调大一些以减轻数据库压力-->
    <add key ="BusyInterval" value ="8"/>
  </appSettings>
</configuration>
