@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">

    var grid1 = "#grid-table_1";
    var grid2 = "#grid-table_2";
    var grid3 = "#grid-table_3";

    $(function () {
        initBusiData();
        initAttrData();
        $(grid1).jqGrid({
            url: "/TBusinessAttribute/GetGridData",
            datatype: "json",
            height: $(document).height() / 2 - 88,
            colModel: [
                { label: '单位编码', name: 'unitSeq', key: true },
                { label: '单位名称', name: 'unitName' }
        ],
            rowNum: -1,
            autowidth: true,
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    updatePagerIcons(table);
                }, 0);
                //选中第一行
                var rows = $(grid1).jqGrid('getRowData');
                if (rows.length > 0)
                    $(grid1).setSelection(rows[0].unitSeq);
            },
            onSelectRow: function (id) {
                $.ajax({
                    url: "/TBusinessAttribute/GetGridDataByUnitSeq?unitSeq=" + $(grid1).jqGrid('getRowData', id).unitSeq,
                    dataType: "json",
                    success: function (data) {
                        refreshBusiData(data);
                    }
                });
            }
        });
    });

    function initBusiData() {
        $(grid2).jqGrid({
            datatype: 'local',
            data: [],
            height: $(document).height() / 2 - 88,
            colModel: [
                { label: '预约业务流水号', name: 'busiSeq', key: true },
                { label: '预约业务编号', name: 'busiCode' },
                { label: '预约业务名称', name: 'busiName' },
                { label: '预约类型', name: 'busiType' },
                { label: '是否可预约办件', name: 'acceptBusi' },
                { label: '是否可预约领件', name: 'getBusi' },
                { label: '是否可预约咨询', name: 'askBusi' }
        ],
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    updatePagerIcons(table);
                }, 0);
                //选中第一行
                var rows = $(grid2).jqGrid('getRowData');
                if (rows.length > 0)
                    $(grid2).setSelection(rows[0].busiSeq);
            },
            onSelectRow: function (id) {
                var unitSeq = $(grid1).jqGrid('getGridParam', 'selrow');
                $.ajax({
                    url: "/TBusinessAttribute/GetGridDetailData?unitSeq=" + unitSeq + "&busiSeq=" + id,
                    dataType: "json",
                    success: function (data) {
                        refreshAttrData(data);
                    }
                });
            }
        });
    }

    function initAttrData() {
        $(grid3).jqGrid({
            datatype: 'local',
            data: [],
            height: $(document).height() - 94,
            colModel: [
                { label: 'ID', name: 'id', key: true },
                { label: '单位编码', name: 'unitSeq' },
                { label: '单位名称', name: 'unitName' },
                { label: '业务流水号', name: 'busiSeq' },
                { label: '业务编号', name: 'busiCode' },
                { label: '业务名称', name: 'busiName' },
                { label: '出票时间段', name: 'timeInterval' },
                { label: '限制取号数量', name: 'ticketRestriction' },
                { label: '等候人数预警值', name: 'lineUpWarningMax' },
                { label: '该业务票号前缀', name: 'ticketPrefix' },
                { label: '备注', name: 'remark' }
        ],
            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    updatePagerIcons(table);
                }, 0);
                //选中第一行
                var rows = $(grid3).jqGrid('getRowData');
                if (rows.length > 0)
                    $(grid3).setSelection(rows[0].id);
            }
        });
    }

    function refreshBusiData(griddata) {
        $(grid2).jqGrid('clearGridData');
        $(grid2).jqGrid('setGridParam', {
            datatype: 'local',
            data: griddata
        }).trigger("reloadGrid");
    }

    function refreshAttrData(griddata) {
        $(grid3).jqGrid('clearGridData');
        $(grid3).jqGrid('setGridParam', {
            datatype: 'local',
            data: griddata
        }).trigger("reloadGrid");
    }

    function Add() {
        $.modalOpen({
            title: "窗口管理 - 新增",
            url: "SystemConfig/TWindow/Form?id=-1",
            callback: function () {
                $.modalContent().submitForm(function () {
                    Refresh();
                });
            }
        });
    }

    function Edit() {
        var sid = $(grid1).jqGrid('getGridParam', 'selrow');
        if (sid == null) {
            alert("没有任何选中行！");
            return;
        }
        $.modalOpen({
            title: "窗口管理 - 编辑",
            url: "SystemConfig/TWindow/Form?id=" + sid,
            callback: function () {
                $.modalContent().submitForm(function () {
                    Refresh();
                });
            }
        });
    }

    function Delete() {
        var sid = $(grid1).jqGrid('getGridParam', 'selrow');
        if (sid == null) {
            alert("没有任何选中行！");
            return;
        }
        $.modalConfirm({
            text: "确定删除该记录吗？",
            callback: function () {
                $.deleteForm({
                    url: "TWindow/DeleteForm?id=" + sid,
                    callback: function () {
                        Refresh();
                    }
                });
            }
        });
    }

    function View() {
        var sid = $(grid1).jqGrid('getGridParam', 'selrow');
        if (sid == null) {
            alert("没有任何选中行！");
            return;
        }
        $.modalOpen({
            title: "窗口管理 - 查看",
            url: "SystemConfig/TWindow/Form?id=" + sid,
            view: true
        });
    }

    function Refresh() {
        $(grid1).jqGrid('setGridParam').trigger('reloadGrid');
    }

    //对应业务
    function BusiAdd() {
        $.modalOpen({
            title: "窗口业务对应 - 新增",
            url: "SystemConfig/TWindow/BusiForm?id=-1",
            callback: function () {
                $.modalContent().submitForm(function () {
                    Refresh();
                });
            }
        });
    }

    function BusiEdit() {
        var sid = $(grid2).jqGrid('getGridParam', 'selrow');
        if (sid == null) {
            alert("没有任何选中行！");
            return;
        }
        $.modalOpen({
            title: "窗口业务对应 - 编辑",
            url: "SystemConfig/TWindow/BusiForm?id=" + sid,
            callback: function () {
                $.modalContent().submitForm(function () {
                    Refresh();
                });
            }
        });
    }

    function BusiDelete() {
        var sid = $(grid2).jqGrid('getGridParam', 'selrow');
        if (sid == null) {
            alert("没有任何选中行！");
            return;
        }
        $.modalConfirm({
            text: "确定删除该记录吗？",
            callback: function () {
                $.deleteForm({
                    url: "TWindow/DeleteBusiForm?id=" + sid,
                    callback: function () {
                        Refresh();
                    }
                });
            }
        });
    }

    function BusiView() {
        var sid = $(grid2).jqGrid('getGridParam', 'selrow');
        if (sid == null) {
            alert("没有任何选中行！");
            return;
        }
        $.modalOpen({
            title: "窗口业务对应 - 查看",
            url: "SystemConfig/TWindow/BusiForm?id=" + sid,
            view: true
        });
    }


    //对应用户
    function UserAdd() {
        $.modalOpen({
            title: "窗口用户对应 - 新增",
            url: "SystemConfig/TWindow/UserForm?id=-1",
            callback: function () {
                $.modalContent().submitForm(function () {
                    Refresh();
                });
            }
        });
    }

    function UserEdit() {
        var sid = $(grid3).jqGrid('getGridParam', 'selrow');
        if (sid == null) {
            alert("没有任何选中行！");
            return;
        }
        $.modalOpen({
            title: "窗口用户对应 - 编辑",
            url: "SystemConfig/TWindow/UserForm?id=" + sid,
            callback: function () {
                $.modalContent().submitForm(function () {
                    Refresh();
                });
            }
        });
    }

    function UserDelete() {
        var sid = $(grid3).jqGrid('getGridParam', 'selrow');
        if (sid == null) {
            alert("没有任何选中行！");
            return;
        }
        $.modalConfirm({
            text: "确定删除该记录吗？",
            callback: function () {
                $.deleteForm({
                    url: "TWindow/DeleteUserForm?id=" + sid,
                    callback: function () {
                        Refresh();
                    }
                });
            }
        });
    }

    function UserView() {
        var sid = $(grid3).jqGrid('getGridParam', 'selrow');
        if (sid == null) {
            alert("没有任何选中行！");
            return;
        }
        $.modalOpen({
            title: "窗口用户对应 - 查看",
            url: "SystemConfig/TWindow/UserForm?id=" + sid,
            view: true
        });
    }

</script>
<div>
    <div class="col-xs-6" style="padding: 0px; border-right: 10px solid #DCDCDC;">
        <div>
            <div class="btn-group">
                <button class="btn btn-sm btn-primary" onclick="Add()">
                    <i class="icon-plus-sign bigger-110"></i>新增</button>
                <button class="btn btn-sm btn-success" onclick="Edit()">
                    <i class="icon-pencil bigger-110"></i>编辑</button>
                <button class="btn btn-sm btn-danger" onclick="Delete()">
                    <i class="icon-minus-sign bigger-110"></i>删除</button>
                <button class="btn btn-sm btn-yellow" onclick="View()">
                    <i class="icon-zoom-in bigger-110"></i>查看</button>
                <button class="btn btn-sm btn-info" onclick="Refresh()">
                    <i class="icon-refresh bigger-110"></i>刷新</button>
            </div>
            <table id="grid-table_1">
            </table>
        </div>
        <div style="border-top: 10px solid #DCDCDC;">
            <div class="btn-group">
                <button class="btn btn-sm btn-primary" onclick="BusiAdd()">
                    <i class="icon-plus-sign bigger-110"></i>新增</button>
                <button class="btn btn-sm btn-success" onclick="BusiEdit()">
                    <i class="icon-pencil bigger-110"></i>编辑</button>
                <button class="btn btn-sm btn-danger" onclick="BusiDelete()">
                    <i class="icon-minus-sign bigger-110"></i>删除</button>
                <button class="btn btn-sm btn-yellow" onclick="BusiView()">
                    <i class="icon-zoom-in bigger-110"></i>查看</button>
            </div>
            <div style="overflow-x: auto">
                <table id="grid-table_2">
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-6" style="padding: 0px;">
        <div class="btn-group">
            <button class="btn btn-sm btn-primary" onclick="UserAdd()">
                <i class="icon-plus-sign bigger-110"></i>新增</button>
            <button class="btn btn-sm btn-success" onclick="UserEdit()">
                <i class="icon-pencil bigger-110"></i>编辑</button>
            <button class="btn btn-sm btn-danger" onclick="UserDelete()">
                <i class="icon-minus-sign bigger-110"></i>删除</button>
            <button class="btn btn-sm btn-yellow" onclick="UserView()">
                <i class="icon-zoom-in bigger-110"></i>查看</button>
        </div>
        <div style="overflow-x: auto">
            <table id="grid-table_3">
            </table>
        </div>
    </div>
</div>
