<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--数据库连接，修改时主要修改connectionString内的数据库名称，服务器地址，用户名，密码，其他信息无需修改-->
    <add name="MySQL" connectionString="Database='client';Data Source='cysoft.uicp.net';User Id='root';charset='utf8';pooling=true" />
  </connectionStrings>
  <appSettings>
    <!---->
    <!--以下配置参数中 带@符号的参数不能修改，程序后台是根据@来动态替换值的，比如userCode=@userCode 程序后面根据@就自动替换为userCode=yh123 等等，其他参数可修改。 -->
    <!---->
    <!--地区编码，用来获取可预约的部门-->
    <add key="areaSeq" value="15" />
    <!--根据身份证获取用户预约信息-->
    <add key="GetAppointmentByID" value="http://120.78.202.223:8080/api/reserveInfoList/query.v?paperCode=@paperCode&amp;isTake=0" />
    <!--根据预约号获取用户预约信息（在线预约后用来存储预约数据的）-->
    <add key="GetAppointmentByReserveSeq" value="http://120.78.202.223:8080/api/reserveInfo/query.v?reserveSeq=@reserveSeq" />
    <!--根据身份证获取用户申办列表信息 暂时没用-->
    <add key="GetWorkByID" value="http://120.78.202.223:8080/api/controlInfoList/query.v?custCardId=@paperCode&amp;approveStatus=-2" />
    <!--申办接口-->
    <add key="BidUrl" value="http://120.78.202.223:8080/api/controlInfoList/query.v?custCardId=@paperCode&amp;approveStatus=-2" />
    <!--根据身份证获取用户注册信息 用户身份证登陆接口 暂停使用-->
    <add key ="GetUserByID" value ="http://120.78.202.223:8080/api/idCard/login.v?userCode=@paperCode"/>
    <!--验证用户是否存在（判断有没有网厅账号）（评价功能使用用来获取用户名）-->
    <add key="CheckUser" value="http://120.78.202.223:8080/api/outUserInfoExist/paperCode/query.v?paperCode=@paperCode" />
    <!--获取可预约的单位列表接口  目前获取的区域内的-->
    <add key="GetUnit" value="http://120.78.202.223:8080/api/reserve/unitTreeList/query.v?areaCode=@areaSeq&amp;pageRowNum=1000" />
    <!--获取单位业务类型列表接口-->
    <add key="GetUnitBusiness" value="http://120.78.202.223:8080/api/reserveTypeList/query.v?unitSeq=@unitSeq" />
    <!--获取全部业务业务类型-->
    <add key ="GetBusiness" value ="http://120.78.202.223:8080/api/all?pageIndex=1&amp;pageRowNum=1000"/>
    <!--注册网厅账户  暂停使用-->
    <add key="RegisterUser" value="http://120.78.202.223:8080/api/outUserInfo/add.v?userCode=abc@mobilePhone&amp;uType=1&amp;paperCode=@idCard&amp;mobilePhone=@mobilePhone&amp;uniteAuth=0&amp;name=@name" />
    <!--同步预约信息-->
    <add key="UpdateAppoint" value="http://120.78.202.223:8080/syncReserveInfo/update.v?reserveSeq=@reserveSeq&amp;syncStatus=0" />
    <!--领证接口 判断是否出证-->
    <add key="GetCard" value="http://120.78.202.223:8080/api/controlInfoList/query.v?custCardId=@custCardId&amp;approveStatus=14" />
    <!--通过用户名获取网厅用户信息 (在线预约接口使用)-->
    <add key ="GetUserByUserCode" value ="http://120.78.202.223:8080/api/outUserInfo/query.v?userCode=@userCode"/>
    <!--在线预约接口-->
    <add key="AppointmentOnline" value="http://120.78.202.223:8080/api/reserveInfo/add.v?busiCode=@busiCode&amp;userName=@name&amp;paperType=10&amp;paperCode=@paperCode&amp;mobilePhone=@mobilePhone&amp;reserveDate=@currentDate&amp;reserveStartTime=08:30&amp;reserveEndTime=12:00" />
    <!--获取可评价的办件信息列表-->
    <add key ="GetEvaluate" value ="http://120.78.202.223:8080/api/controlInfoList/query.v?custCardId=@custCardId&amp;approveStatus=9999"/>
    <!--保存评价信息-->
    <add  key ="SaveEvaluate" value ="http://120.78.202.223:8080/api/evaluateInfo/1/add.v?userCode=@userCode&amp;targetSeq=@targetSeq&amp;evalutionType=1&amp;evalutionValue=@evalutionValue"/>
    <!--投资项目部门列表-->
    <add key ="InvestmentUnit" value ="http://19.136.14.62/CommonService/api/reserve/unitTreeList/query.v?pageRowNum=1000&amp;areaCode=23"/>
    <!--投资项目业务列表-->
    <add key ="InvestmentBusy" value ="http://19.136.14.62/CommonService/api/reserve/reserveTypeList/query.v?pageRowNum=1000&amp;unitSeq=@unitSeq"/>
    <!--退出密码，默认为1234-->
    <add key ="ExitPwd" value ="1234"/>
    <!--下面是页面停留时间-->
    <!-- 退出密码框-->
    <add key ="ExitTime" value ="8"/>
    <!-- 评价页面-->
    <add key ="Evaluate" value ="30"/>
    <!-- 预约页面-->
    <add key ="Appoint" value ="20"/>
    <!-- 选择业务-->
    <add key ="Busy" value ="20"/>
    <!-- 选择单位-->
    <add key ="Unit" value ="20"/>
    <!-- 读身份证-->
    <add key ="Readcard" value ="10"/>
    <!-- 输入身份证-->
    <add key ="Card" value ="60"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--出票时间段（一个时间区间中间用逗号，多个时间段用竖线| 时间需要标准时间格式，精确到秒，）-->
    <add key ="TimeInterval" value ="08:00:00,11:45:00|13:20:00,23:15:00"/>
    <!--按出票时间段进行排队取号数量的限制（按业务类型）
        这里面的限制所使用的区间段参考上面的参数【TimeInterval】
        有几个区间就有几个限制，需要配置统一
        限制中间用逗号分隔-->
    <add key ="NumberRestriction" value ="200,200"/>
    <!--取票机编号，如果有多台，请配置成不同的序号-->
    <add key ="ClientName" value ="1号取票机"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>