<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--数据库连接，修改时主要修改connectionString内的数据库名称，服务器地址，用户名，密码，其他信息无需修改-->
    <add name="MySQL" connectionString="Database='db_comm';Data Source='cysoft.uicp.net';User Id='root';charset='utf8';pooling=true" />
  </connectionStrings>
  <appSettings>
    <!---->
    <!--退出密码，默认为1234-->
    <add key ="ExitPwd" value ="1234"/>
    <!--下面是页面停留时间-->
    <!-- 退出密码框-->
    <add key ="ExitTime" value ="8"/>
    <!--主页-->
    <add key ="MainTime" value="20"/>
    <!-- 评价页面-->
    <add key ="Evaluate" value ="30"/>
    <!-- 预约页面-->
    <add key ="Appoint" value ="20"/>
    <!-- 选择业务-->
    <add key ="Busy" value ="20"/>
    <!-- 选择单位-->
    <add key ="Unit" value ="20"/>
    <!-- 读身份证-->
    <add key ="Readcard" value ="10"/>
    <!-- 输入身份证-->
    <add key ="Card" value ="60"/>
    <!--出票时间段（一个时间区间中间用逗号，多个时间段用竖线| 时间需要标准时间格式，精确到秒，）-->
    <add key ="TimeInterval" value ="08:00:00,11:45:00|13:20:00,23:15:00"/>
    <!--按出票时间段进行排队取号数量的限制（按业务类型）;这里面的限制所使用的区间段参考上面的参数【TimeInterval】;有几个区间就有几个限制，需要配置统一;限制中间用逗号分隔-->
    <add key ="NumberRestriction" value ="200,200"/>
    <!--取票机编号，如果有多台，请配置成不同的序号-->
    <add key ="ClientName" value ="1号取票机"/>
    <!--是否允许不刷身份证出票 0：否 1：是-->
    <add key ="CanNotUseCard" value ="1"/>
    <!--区域编号-->
    <add key="AreaNo" value ="1001"/>
    <!--服务端IP以及端口-->
    <add key ="RemotingConfig" value ="cysoft.uicp.net:5566"/>
    <!--轮播间隔时间 单位：秒-->
    <add key ="BroadcastInterval" value ="5"/>
    <!-- 楼层固定部门编码，楼层中间用竖线分割-->
    <add key ="Units" value ="1,2,3,4,5|6,7,8,9"/>
    <!-- 部门显示位置，需要和上面部门个数对称，楼层部门中间用#分割-->
    <add key ="Position" value ="390,31|208,119|646,137|764,326|555,326#390,31|208,119|646,137|764,326|555,326"/>
    <!-- 显示按钮长度，需要和上面部门个数对称,目前高度不可调，只可调节长度，楼层中间用竖线分割-->
    <add key ="Size" value ="300,237,324,440,400|300,237,324,440"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>