<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--数据库连接，修改时主要修改connectionString内的数据库名称，服务器地址，用户名，密码，其他信息无需修改-->
    <add name="MySQL" connectionString="Database='db_comm';Data Source='cysoft.uicp.net';User Id='root';charset='utf8';pooling=true"/>
  </connectionStrings>
  <appSettings>
    <add key="AreaNo" value="1001"/>
  </appSettings>
</configuration>
