<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--数据库连接，修改时主要修改connectionString内的数据库名称，服务器地址，用户名，密码，其他信息无需修改-->
    <add name="MySQL" connectionString="Database='QueueDB';Data Source='cysoft.uicp.net';User Id='root';charset='utf8';pooling=true;port=3366;" />
  </connectionStrings>
  <appSettings>
    <add key="IP" value ="cysoft.uicp.net"/>
    <add key="Port" value ="3347"/>
    <!--清屏处理（按时间点进行全部弃号处理，如果有多个时间点中间用逗号分割，时间格式需要严格按照【HH:mm:ss】）-->
    <add key ="ClearTime" value ="12:30:00,18:00:00"/>
    <!--用户身份证登录接口(终端机)-->
    <add key="CheckUser" value="http://45.77.132.47:8080/api/idCard/login.v?userCode=@paperCode" />
    <!--叫号端标识，多个叫号端需要命名不同的名字-->
    <add key ="ClientName" value ="1号叫号端"/>
    <!--窗口区域，分区域叫号，多个区域编号中间用逗号分隔-->
    <add key ="AreaNo" value ="1,2"/>
    <!--评价器类型 0：安卓评价器 1 ：4键评价器-->
    <add key ="EvaluatorType" value ="0"/>
  </appSettings>
</configuration>