<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--数据库连接，修改时主要修改connectionString内的数据库名称，服务器地址，用户名，密码，其他信息无需修改-->
    <add name="MySQL" connectionString="Database='QueueDB';Data Source='cysoft.uicp.net';User Id='root';Password='admin88';charset='utf8';pooling=true" />
  </connectionStrings>
  <appSettings>
    <!--显示数据刷新间隔，单位秒。最小单位1秒-->
    <add key ="RefreshInterval" value ="2"/>
    <!--下面区域滚动显示信息-->
    <add key ="MsgInfo" value ="取号后请在休息区等候，注意留意电视大屏和语音叫号！"/>
    <!--网络连接异常是显示的滚动信息-->
    <add key ="MsgErrorInfo" value ="网络连接异常，请管理员核查！"/>
    <!--是否网络异常时显示上面异常的滚动信息。默认不显示-->
    <add key ="IsShowError" value ="0"/>
    <!--窗口区域-->
    <add key ="AreaNo" value ="1"/>
    <!-- 偏移间隔 范围（1-30）间隔越小移动越快-->
    <add key ="Interval" value ="15"/>
    <!-- 每次偏移量 范围（1-5）偏移量越小闪烁越低-->
    <add key ="Distance" value ="1"/>

    <!--请自行填写行数以及高度，所有高度必须是1920 即15*122+90=1920-->
    <!--行数-->
    <add key ="RowCount" value ="15"/>
    <!--行高 -->
    <add key ="RowHeight" value ="122"/>
    <!--滚动信息行高-->
    <add key ="MsgHeight" value ="90"/>
    <!--整体区域颜色。默认为黑色-->
    <add key ="ColorBackRGB" value ="0,0,0"/>
    <!--绿色RGB色值 滚动区域颜色-->
    <add key ="ColorGreenRGB" value ="136,240,146"/>
    <!--灰色RGB色值 隔行显示的灰色背景色-->
    <add key ="ColorGrayRGB" value ="61,60,60"/>
    <!--蓝色RGB色值 隔行显示的蓝色-->
    <add key ="ColorBlueRGB" value ="32,126,192"/>
    <!--票号RGB色值-->
    <add key ="ColorTicketRGB" value ="255,255,0"/>
    <!--窗口号RGB色值-->
    <add key ="ColorWindowRGB" value ="136,240,146"/>
    <!--其他地方RGB色值 【请、号到、号窗口办理】-->
    <add key ="ColorOtherRGB" value ="255,255,255"/>
    <!--网约标识/绿色通道的颜色RGB-->
    <add key ="ColorVIPRGB" value ="136,240,146"/>
    <!--暂时常用就是 黑体、微软雅黑、宋体 ，需要提供标准字体名称-->
    <add key ="FontName" value ="微软雅黑"/>
    <add key ="FontSize" value ="50"/>
    <add key ="MsgFontName" value ="黑体"/>
    <add key ="MsgFontSize" value ="65"/>
    <!--点击该区域5次程序会退出 ，默认左上角(0,0,200,200) 右上角为(880,0,1080,200) 目前下面字母滚动区域不支持-->
    <add key ="ExitPstion" value ="0,0,200,200"/>
  </appSettings>
</configuration>